<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Make a New Listing!</title>
</head>
<body>
  <h1> Edit <%=foundList.title %> </h1>
  <form action="/listings/<%=foundList._id%>?_method=PUT" method="post">

    <Label for="title">Title:</Label>
    <input type="text" id="title" value="<%=foundList.title %>" name="title">

    <label for="description">Description:</label>
    <textarea name="description"  id="description"><%=foundList.description %></textarea>

    <label for="price">Price:</label>
    <input type="text" name="price" value="<%=foundList.price %>" id="price">

    <label for="image">Image URL:</label>
    <input type="text" value="<%=foundList.image %>" class="img" id="image" name="image">

    <button type="submit">Edit a List</button>

  </form>
</body>
</html>