<%- include('../partials/head') %>

  <h1 class="text-center">Marketplace</h1>
  <p><a href="/">Home Page</a></p>
  <ul>
 <% lists.forEach((list) => { %>
   <li>
    <a href="/listings/<%=list._id%>"><h2><%= list.title %></h2></a>
      
      <p> <%= list.description %> </p>
      <p><strong> <%= list.price %> BHD</strong></p>
      <img src=" <%= list.image %> " class="listing-img" alt="cat img">

      
  </li>
 <% }) %>
</ul>
</body>
</html>