<%- include('../partials/head') %>

      <h2 class="text-center"> <%= foundList.title %> </h2>
      <p> <%= foundList.description %> </p>
      <p><strong> <%= foundList.price %> BHD</strong></p>
      <img src=" <%= foundList.image %> " class="listing-img" alt="cat img">
      <br>
      <% if(foundList.seller._id.equals(user._id)){ %>
      <form action="/listings/<%=foundList._id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>

      <a href="/listings/<%=foundList._id%>/edit">
         <button type="submit">EDIT</button>
      </a>
      <% } %>

      <h3>Leave a comment</h3>
      <form action="/listings/<%=foundList._id%>/comments" method="post">
        <textarea name="content" id=""></textarea>
        <button type="submit">Post a Comment</button>
      </form>
      <h3>Comments</h3>
      <ul>
       <% foundList.comments.forEach((comment) => { %>
          <li>  <%= comment.content %> - <%= comment.author.username %>
          </li>
       <% }) %>
      </ul>
</body>
</html>